global
    maxconn 8192
    nbthread 1
    log stdout format raw local0 warning

defaults
    mode http
    log global
    option dontlognull
    option http-keep-alive
    timeout connect 1s
    timeout client 65s
    timeout server 65s

frontend fraud_in
    bind *:9999
    default_backend fraud_api

backend fraud_api
    balance roundrobin
    option http-keep-alive
    server api1 api1:4000 check
    server api2 api2:4001 check
